

<%= form_for [@location] do |f| %>
<%= f.label :latitud %>
<%= f.decimal :latitud %>
<%= f.label :longitud %>
<%= f.decimal :longitud %>
<br/>
<%= f.submit "New location" %>
<% end %>
<button ></button>